<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<listener>-->
        <!--<listener-class>listener.FirstListener</listener-class>-->
    <!--</listener>-->
    <listener>
        <listener-class>listener.MyHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyServletRequestListeber</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyServletRequestAttributeListeber</listener-class>
    </listener>
    <context-param>
        <param-name>initParam</param-name>
        <param-value>first</param-value>
    </context-param>
    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>
</web-app>